.container-login {
    border: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    .box {
        max-width: 450px;
        margin: 7% auto;
        display: block;
        background: #fff;
        border: 0;
        padding: 30px;
        border-radius: 7px;
        color: rgb(19, 19, 19);
        .header-block {
            text-align: center;
            .title {
                font-size: 1.6em;
                line-height: 1.4em;
                border-bottom: 1px solid rgb(223, 223, 223);
                padding-bottom: 20px;
                margin-bottom: 35px;
                margin-top: 5px;
            }
        }
        .button {
            height: 50px;
            background: #3b8ebb;
            text-transform: uppercase;
            border: 0;
            color: white;
            cursor: pointer;
            padding: 0 35px;
            transition: background 0.5s ease;
            font-size: 16px;
            margin-top: 15px;
            width: 100%;
            &:hover {
                background: #26739c;
            }
        }
        .label {
            display: block;
            text-align: left;
            margin-bottom: 15px;
            font-weight: bold;
            cursor: pointer;
            > input {
                display: block;
                width: 100%;
                height: 20px;
                padding: 10px 0px 20px;
                font-size: 0.8em;
                transition: all 0.5s ease;
                border: 0;
                border-bottom: 1px solid #ccc;
                &:focus {
                   border-color: black;
                }
            }
        }
    }
    
}