.container-main {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 35px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 300px;
    color: white;
    box-sizing: border-box;
    padding-bottom: 200px;
    &.full {
        padding: 35px;
    }
}