<aside class="side">
  <div>
    <img src="../assets/logo.png" alt="Projeto">
    <form class="form-search">
      <input type="text" placeholder="Buscar" [(ngModel)]="busca" name="busca">
      <button class="fa fa-search"></button>
    </form>
    <nav class="links">
      <a routerLink="/home">Início</a>
      <a routerLink="/biblioteca">Minhas músicas</a>
    </nav>
    <h2 class="title">Tocando Recentamente</h2>
    <ul class="list-playlist">
      <li>
        <h3 class="name">Musica 1</h3>
        <span class="category">Cartola</span>
      </li>
      <li>
        <h3 class="name">Musica 1</h3>
        <span class="category">Cartola</span>
      </li>
      <li>
        <h3 class="name">Musica 1</h3>
        <span class="category">Cartola</span>
      </li>
    </ul>
  </div>
  <footer class="footer-user">
    <img src="http://via.placeholder.com/120x120">
    <span>Iago Machado</span>
  </footer>
</aside>