.side {
    width: 250px;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    border-left: 1px solid black;
    padding: 25px;
    box-sizing: border-box;
    padding-bottom: 120px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    .title {
        font-size: 0.9em;
        max-width: 75%;
        font-weight: 500;
        line-height: 1.4em;
        text-transform: uppercase;
        margin: 5px 0;
    }
    .form-search {
        display: flex;
        margin: 10% 0;
        padding: 5% 0;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        input {
            border: 0;
            border-bottom: 1px solid white;
            width: 100%;
            background: transparent;
            height: 35px;
            font-style: italic;
            color: white;
            font-size: 0.8em;
            padding: 0 5px;
            &::placeholder {
                color: white;
            }
        }
        button {
            background: transparent;
            color: white;
            border: 0;
            width: 35px;
            position: absolute;
            right: 0;
            top: 5px;
            height: 35px;
            cursor: pointer;
        }
    }
    .links {
        margin: 10px 0 25px;
        > a {
            display: block;
            font-weight: bold;
            padding: 5px 0;
            text-decoration: none;
            color: white;
            cursor: pointer;
            transition: opacity 0.4s ease;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .footer-user {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        border-top: 1px solid rgba(255,255,255,0.4);
        padding-top: 15px;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        width: 100%;
        padding: 25px 0;
        box-sizing: border-box;
        left: 0;
        > img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-right: 10px;
        }
    }
    .list-playlist {
        padding: 0;
        margin: 0;
        > li {
            list-style: none;
            line-height: 1.4em;
            color: white;
            padding: 3% 0;
            cursor: pointer;
            &:hover {
                .name {
                    opacity: 1;
                }
            }
            .name {
                font-size: 0.8em;
                margin: 0;
                font-weight: 400;
                opacity: 0.7;
                transition: opacity 0.4s ease;
            }
            .category {
                text-transform: uppercase;
                font-size: 0.9em;
            }
        }
    }
}

