<div class="wrapper-playlist">
  <figure class="figure-box">
      <img src="../assets/capa.jpg" alt="Capa">
      <small>Nome do Álbum</small>
  </figure>
  <ul class="list-musics">
    <li class="playing">
      <i class="fa fa-play-circle"></i>
      <p>Welcome to the Jungle</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Feel Good</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Welcome to the Jungle</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Feel Good</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Welcome to the Jungle</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Feel Good</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Welcome to the Jungle</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Feel Good</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Welcome to the Jungle</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Feel Good</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Welcome to the Jungle</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Feel Good</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Welcome to the Jungle</p>
    </li>
    <li>
      <i class="fa fa-play-circle"></i>
      <p>Feel Good</p>
    </li>
  </ul>
</div>
