/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$font: 'Open Sans', sans-serif;

body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: $font;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

input,button, textarea, select {
    outline: none;
    font-family: $font;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.form-container {
    .block-form {
        margin-bottom: 10px;
    }
    .title {
        margin-bottom: 25px;
    }
    .row-form {
        margin: 0 -15px;
        &:after {
            clear: both;
            content: '';
            display: block;
        }
    }
    .input-form {
        font-weight: bold;
        position: relative;
        .input {
            width: 100%;
            margin: 2px 0;
            height: 40px;
            padding: 0;
            color: rgba(255,255,255,0.6);
            padding: 0px;
            font-size: 0.85em;
            background: transparent;
            border: 0;
            transition: all 0.3s ease;
            border-bottom: 1px solid rgba(255,255,255,0.6);
            &::placeholder {
                color: rgba(255,255,255,0.6);
            }
            &:focus {
                color: white;
            }
            &.ng-invalid.ng-touched {
                border-color: rgb(197, 114, 59);
                color: rgb(197, 114, 59);
            }
            &.ng-valid {
                border-color: rgb(59, 197, 112);
            }
        }
        .tooltip {
            background: white;
            color: black;
            padding: 5px 10px;
            border-radius: 30px;
            position: absolute;
            right: 0;
            top: 15px;
            transform: translateY(0);
            opacity: 0;
            margin-top: 10px;
            transition: all 0.4s ease;
            display: inline-block;
            &.show {
                opacity: 1;
                transform: translateY(-15px);
            }
        }  
    }
}



$grid-gutter: 15px; // espaçamento entre as colunas
$grid-columns: 12;

[class*="grid-"] {
	float: left;
	padding: 0 15px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

@for $i from 1 through $grid-columns {
	.grid-#{$i} {
		width: 100% / $grid-columns * $i;
	}
}

.button {
    text-transform: uppercase;
    background: white;
    color: black;
    height: 50px;
    border: 0;
    cursor: pointer;
    padding: 0 15px;
    transition: all 0.4s ease;
    outline: none;
    font-weight: 600;
    &:hover:not([disabled]) {
        background: rgb(59, 197, 112);
        color: white;
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

}

.nav-buttons {
    padding: 25px 0;
    text-transform: uppercase;
    margin-bottom: 15px;
    a {
        font-size: 1em;
        padding: 5px 0;
        color: rgba(255,255,255,0.9);
        transition: all 0.4s ease;
        margin: 5px 10px;
        outline: none;
        text-decoration: none;
        position: relative;
        &:after {
            content: '';
            width: 00%;
            position: absolute;
            height: 3px;
            transition: all 0.4s ease;
            left: 0;
            top: 100%;
            margin-top: 5px;
            display: inline-block;
            background: rgb(59, 197, 112);
        }
        &.active {
            color: rgb(59, 197, 112);
            &:after {
                width: 100%;
            }
        }
    }
}