/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$font: 'Open Sans', sans-serif;

body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: $font;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

input,button, textarea {
    outline: none;
    font-family: $font;
}